.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  text-align: center;
  color: black;
  width: 300px;
}

.ghost {
  opacity: 0.5;
}

.card__title, .card__description {
  word-break: break-all;
}

.card__dates {
  display: flex;
  font-size: 12px;
  justify-content: space-evenly;
  gap: 20px;
}

.card__dates--container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
